// abstract 
@import '../SASS/variables';
@import '../SASS/mixins';



#quote-box {
    position: relative;
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    padding: 40px 40px 70px 40px;
    width: 90vw;
    min-width: 200px;
    max-width: 600px;
    box-shadow: 0px 0px 10px 0px #000;
    background-color: $white;
    color:$green;

    #text {
        height: 50%;
        font-weight: 200;
        text-align: center;
        font-size: 30px;
        position: relative;

        i {
            position: relative;
            font-size: 40px;
            top: -10px;
        }
    }

    .text-box {
        opacity: 1;
        transition: opacity .4s;
    }

    .hidden{
        opacity: 0;
    }
    

    #author {
        text-align: right;
        flex-basis: 100%;
        margin-top: 20px;
    }

    .btn-container{
        position: absolute;
        left: 0;
        bottom: 20px;
        display: flex;
        width: 100%;
        height: 40px;
    }

    #new-quote{
        background-color:$green;
        color: white;
        font-weight: 100;
        padding: 0 15px;
        border: none;
        cursor: pointer;
        height: 40px;
        margin: 0 35px 0 auto;
        border-radius: 8px;
        transition: all .6s;
       

        &:hover{transform: scale(1.05);}
    }

    #tweet-quote{
        color:$white;
        text-align: center;
        line-height: 40px;
        font-size: 25px;
        height: 40px;
        background-color: $green;
        width: 40px;
        margin: auto 0 0 35px;
        border-radius: 8px;
    }

    // .tweet-quote.hover{
    //     background-color: red;
    // }
}

